
<div class="flex flex-col gap-5 w-full mb-12">
  <h1 class="px-1 text-center text-5xl tracking-tighter text-balance max-lg:font-medium lg:text-8xl text-white">Stimulus 101</h1>
  <h2 class="px-1 text-center text-xl tracking-tighter text-balance max-lg:font-medium lg:text-3xl text-gray-300">A simple demo to get you started</h2>

  <div class="flex flex-col items-center justify-center gap-3">
    <%= image_tag "qr-code.png", class: "flex h-32 w-32", alt: "QR Code" %>
    <p class="text-gray-400">Check the code on</p>
    <%= link_to "github.com/garciaf/stimulus-demo", "https://github.com/garciaf/stimulus-demo", class: "text-green-400 hover:underline" %>
  </div>

<%= render "typewritter" %>
<%= render "countdown" %>
<%= render "photoswipe" %>
<%= render "countries" %>
